{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'index.css' %}">
{% endblock style %}

{% block content %}
    <center class="mt-2">
        <h2>Python Compiler</h2>
    </center> 
    <div class="container-fluid">
        <div class="row justify-content-around">
            <div id="code_div" class="col-lg-5">
                <form action="" id="form" method="post" spellcheck="false">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-4">
                            <label for="code"> <h4>Python Code  : </h4> </label>
                        </div>
                        <div class="col-1"></div>
                        <div class="col-7">
                            <label for="python_lib" class="text-end"> <h4>Available Python Library : </h4> </label>
                            <select id="python_lib" class="form-control mb-2 custom-dropdown" aria-label="Default select example">
                                <option value="pandas">pandas</option>
                                <option value="numpy">numpy</option>
                                <option value="qrcode">qrcode</option>
                                <option value="requests">requests</option>
                              </select>
                        </div>
                    </div>
                    <textarea name="code" id="code" rows="15" ></textarea>
                    <input class="btn btn-primary float-left" type="submit" onclick="send_ajax_request()" value="Compile">
                </form> 
            </div>
            <div class="vl"></div>
            <div id="input_div" class="col-lg-5">
                <label class="mt-2"> <h4> Input values : <small>(seperated by new line)</small> </h4></label>
                <textarea id="input" rows="15" ></textarea>
            </div>
        </div>
        <hr>
        <div class="row justify-content-around">
            <div id="output_div" class="col-lg-5">
                <label class="mt-2"> <h4> Output : </h4></label>
                <textarea id="output" rows="15" readonly></textarea>
            </div>
            <div class="col-lg-5"></div>
        </div>
    </div>
{% endblock content %}

{% block script %}
<script>
    let csrf = "{{csrf_token}}";
    let file_path = "";
    let media = "{{media}}";
</script>
<script src="{% static 'index.js' %}"></script>
{% endblock script %}